* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  //BG webpage
  .gradient {
    height: fit-content;
    z-index: -1;
    background-image: radial-gradient(
                    at 27% 37%,
                    hsla(215, 98%, 61%, 1) 0px,
                    transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100vw;
    min-height: 100vh;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }

  //Error component
  .error_block {
    position: relative;
    top: -15px;
    .error_message {
      font-size: 16px;
      color: red;
      font-weight: 600;
    }
  }

  //Search component
  .search_component {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    &-input-container {
      border: 1px solid rgba(40, 44, 52, 0.4);
      border-radius: 20px;
      width: 62vw;
      height: 50px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      background: white;
      .search_icon_block {
        position: absolute;
        left: 15px;
        top: 14px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        @media screen and (max-width: 768px) {
          top: 10px;
        }
      }
      .close_icon_block {
        position: absolute;
        right: 15px;
        top: 14px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        @media screen and (max-width: 768px) {
          top: 10px;
        }
      }

      .search_input {
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        font-size: 20px;
        padding-left: 20px;
        &:focus,
        &:active,
        &:hover, &:visited, &:target {
          border: none;
          outline: none;
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      &-input-container {
        width: 100%;
        height: 40px;
      }
    }
  }

  //Product card component
  .product_card_wrap, .product_card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.2);
    min-height: 150px;
    .image_block {
      width: 100%;
      height: 200px;
      background: #61dafb;
      overflow: hidden;
      align-items: center;
      display: flex;
      z-index: 1;
      border-radius: 10px;
      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      font-size: 32px;
      color: #282c34;
      font-weight: 600;
      letter-spacing: -1px;
      margin: 20px 0;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .brand-block {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      &-brand {
        left: 10px;
      }
      &-category {
        right: 10px;
      }
      .label {
        color: white;
        text-transform: lowercase;
        position: absolute;
        top: 10px;
        z-index: 3;
        background: #5173ef;
        padding: 2px 10px;
        border-radius: 6px;
        font-weight: 600;
      }
    }
    &-price {
      color: #282c34;
      display: flex;
      font-size: 18px;
      align-items: flex-end;
      margin-top: 20px;
      .number {
        font-weight: bold;
        font-size: 20px;
        padding-left: 8px;
      }
    }
    &-rating {
      color: #282c34;
      display: flex;
      font-size: 18px;
      align-items: flex-end;
      margin: 8px 0;
      .number {
        font-weight: bold;
        font-size: 20px;
        padding-left: 8px;
        color: #ad9b10;
      }
    }
    &-description {
      font-size: 18px;
      text-align: left;
      height: 80px;
      overflow: scroll;
    }
    .button_block {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      margin-top: 20px;
      .button {
        padding: 8px 20px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 10px;
        width: 45%;
        cursor: pointer;
      }
      &-update {
        background: #44c22e;
        width: 100%!important;
      }
      &-edit {
        background: #a4b8ef;
      }
      &-delete {
        background: #af0202;
      }
    }
  }

  .main {
    margin: 0 120px;
    @media screen and (max-width: 1200px) {
      margin: 0 60px;
    }
    @media screen and (max-width: 480px) {
      margin: 0 20px;
    }
    //Home Screen
    .home_root {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .table_list_button {
        background: #5173ef;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px 0;
        color: white;
        text-decoration: none;
      }
      &-title {
        color: #282c34;
        font-size: 5vw;
        margin: 4vw 0 3vw 0;
        text-align: center;
      }
      .product_list {
        margin: 5vh auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        @media screen and (max-width: 1200px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
        }
        @media screen and (max-width: 780px) {
          grid-template-columns: repeat(1, minmax(300px, 1fr));
        }
      }
      .add_new_product_button {
        background: blue;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        position: fixed;
        bottom: 5vh;
        right: 2vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &-text {
          color: white;
          font-size: 30px;
          display: flex;
        }
      }
    }


    //Created product Screen
    .create_product_wrap {
      margin: 0 auto;
      .form_block{
        flex-direction: column;
        display: flex;
        max-width: 600px;
        margin: 15vh auto;
        .form_input {
          margin: 1vh 0 3vh 0;
          width: 100%;
          border: 1px solid rgba(40, 44, 52, 0.4);
          border-radius: 14px;
          padding: 8px 12px;
          font-size: 20px;
        }
        .form_label {
          color: #282c34;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .error_input {
          border: 1px solid red;
        }
        .active_input {
          border: 1px solid rgba(40, 44, 52, 0.4);
        }
        .form_button {
          background: #61dafb;
          color: white;
          border-radius: 12px;
          border: none;
          font-size: 20px;
          padding: 15px 20px;
          font-weight: 600;
          margin-top: 2vh;
        }
      }
    }

    .list_products {
      &-title {
        color: #282c34;
        font-size: 5vw;
        margin: 4vw 0 3vw 0;
        text-align: center;
      }
      .products_wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, minmax(125px, 1fr));
        gap: 30px;
        overflow: scroll;
        max-width: 100%;
        .filter_title {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
        }
        .link {
          color: #1a57e3;
          cursor: pointer;
          font-weight: bold;
        }
        .label {
          background: #5173ef;
          border-radius: 10px;
          color: white!important;
          padding: 8px 0;
        }
        .not_clickable_label {
          background: #8a9adc!important;
        }
        .children_header_block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-text {
            width: 45%;
            text-align: center;
            margin-top: 10px
          }
        }

        .description_block {
          overflow: scroll;
          height: 150px
        }

        .image_block {
          display: flex;
          justify-content: center;
          overflow: hidden;
          .img {
            height: 100px
          }
        }

      }
      .empty_list_block {
        display: flex;
        justify-content: center;
        align-items: center;
        &-text {
          font-size: 3vw;
          color: #282c34;
          font-weight: bold;
          @media screen and (max-width: 768px) {
            font-size: 5vw;
          }
        }
      }
      .clear_filters_button {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        .button_text {
          background: #5173ef;
          padding: 8px 10px;
          border-radius: 15px;
          color: white;
          border: none;
          outline: none;
          font-size: 20px;

        }
      }
    }
  }
}
